<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auto_connect</key>
	<true/>
	<key>encrypted</key>
	<false/>
	<key>format</key>
	<string>connection bundle</string>
	<key>include_session</key>
	<true/>
	<key>save_editor_content</key>
	<true/>
	<key>save_password</key>
	<false/>
	<key>version</key>
	<integer>1</integer>
	<key>windows</key>
	<array>
		<dict>
			<key>frame</key>
			<string>{{0, 53}, {1440, 824}}</string>
			<key>selectedTabIndex</key>
			<integer>0</integer>
			<key>tabs</key>
			<array>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>DC4B211D-5DA1-4A8C-B233-EEACEE4B926D.spf</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0, 53}, {1440, 824}}</string>
			<key>selectedTabIndex</key>
			<integer>0</integer>
			<key>tabs</key>
			<array>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>35893F85-071C-4CBE-9A38-F5D7F077CD65.spf</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0, 53}, {1440, 824}}</string>
			<key>selectedTabIndex</key>
			<integer>0</integer>
			<key>tabs</key>
			<array>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>36DDF689-9142-4C9B-BCCC-78E9B76B008C.spf</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0, 53}, {1440, 824}}</string>
			<key>selectedTabIndex</key>
			<integer>0</integer>
			<key>tabs</key>
			<array>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>CD186653-B3FB-4F8B-BEDD-142472A5501B.spf</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0, 53}, {1440, 824}}</string>
			<key>selectedTabIndex</key>
			<integer>0</integer>
			<key>tabs</key>
			<array>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>1198EDF2-D02A-43A1-BA00-CC9F75119409.spf</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0, 53}, {1440, 824}}</string>
			<key>selectedTabIndex</key>
			<integer>0</integer>
			<key>tabs</key>
			<array>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>836B3847-330B-427E-8B07-5576941FF576.spf</string>
				</dict>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>280E2ECF-DDE2-4DAA-B594-2330237D8958.spf</string>
				</dict>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>A0229272-A8F9-4607-9CC4-67D1DF86ADF3.spf</string>
				</dict>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>2CFBCDD7-D8E1-473B-84D1-DA325DD33D77.spf</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0, 53}, {1440, 824}}</string>
			<key>selectedTabIndex</key>
			<integer>0</integer>
			<key>tabs</key>
			<array>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>3E2163AE-128C-473A-B121-E5189300D2DE.spf</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0, 53}, {1440, 824}}</string>
			<key>selectedTabIndex</key>
			<integer>0</integer>
			<key>tabs</key>
			<array>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>D12BB45A-3351-439E-8855-E1C6B7F33981.spf</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0, 53}, {1440, 824}}</string>
			<key>selectedTabIndex</key>
			<integer>0</integer>
			<key>tabs</key>
			<array>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>211B3553-B041-4457-8501-1A83E6661A9C.spf</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0, 53}, {1440, 824}}</string>
			<key>selectedTabIndex</key>
			<integer>0</integer>
			<key>tabs</key>
			<array>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>BAE1D0F9-8DA3-40E4-A70E-A7C078505ED6.spf</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>frame</key>
			<string>{{0, 53}, {1440, 824}}</string>
			<key>selectedTabIndex</key>
			<integer>0</integer>
			<key>tabs</key>
			<array>
				<dict>
					<key>isAbsolutePath</key>
					<false/>
					<key>path</key>
					<string>B164285E-C754-4D1A-A2B6-23F3B1A2F4AF.spf</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
